/* Font faces */
@font-face {
    /* Previous : Piazzola */
    font-family: "Open Sans";
    src: url(assets/fonts/OpenSans-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "Sansita Swashed";
    src: url(assets/fonts/SansitaSwashed-Bold.ttf);
    font-weight: bold;
}

/* Commons */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

::selection {
    color: white;
    background-color: #EB364B;
    text-decoration: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar { /* Make scroll bar invisible */
    display: none;
}

body {
    overflow-x: hidden;
    background-color: #EB364B;
}

a {
    font-size: calc(0.8vw + 5px); /* 20px at width 1920px*/
    color: #EB364B;
    text-decoration: underline;
    cursor: pointer;
}

ul {
    list-style: none;
}

p {
    font-size: calc(0.8vw + 5px); /* 20px at width 1920px*/
    text-align: justify;
    margin-bottom: 2.6vw;
}

h1 {
    font-family: 'Sansita Swashed', cursive;
    font-size: calc(2.2vw + 5px); /* 20 (corps) * 2.4 */
    margin-bottom: 1.04vw;
}

h2 {
    font-family: 'Sansita Swashed', cursive;
    font-size: calc(1.5vw + 5px); /* 20 (corps) * 1.7 */
}

.unselectable {
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

audio {
    width: 40%;
}

/* Specific classes */
.inline { /* List of link image (like socials networks) */
    display: flex;
    align-items: center;
}

.inline a img {
    width: 2.08vw;
}

.inline a:not(:last-child) img{
    margin-right: 0.52vw;
}

.bg-image { /* Background image on left and right panels (About/Work) */
    z-index: -2;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.2;
    transition: opacity 0.25s;
    pointer-events: none;
}

.face-img { /* Image at the center of the screen */
    z-index: 2;
    position: fixed;
    left: 50vw;
    bottom: 2vh;
    transform: translate(-50%, -50%);
    width: 5.5vw;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s;
}

.no-margin {
    margin: 0 !important;
}

a.black {
    color: black;
}

iframe.ytb { /* Youtube iframe */
    width: 100%;
    margin-bottom: 2.6vw;
}

/* Panels (sections) */
.left { /* Left panel is for project description and header */
    z-index: 1;
    position: fixed;
    background-color: #FFF7D9;
    color: #000000;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.right { /* Right panel is for projects list */
    position: absolute;
    color: #ffffff;
}

@media (min-aspect-ratio: 1/1) { /* Width greater than height */
    section {
        top: 0;
        padding: 3.64vw;
    }

    .left {
        width: 50vw;
        height: 100vh;
        left: 0;
    }

    .right {
        width: calc(50vw - (100vw - 100%));
        right: 0;
    }

    .bg-image {
        top: 50vh;
    }
    
    iframe.ytb {
        height: 23.5vw;
    }
}

@media (max-aspect-ratio: 1/1) { /* Height greater than width */
    section {
        left: 0;
        padding: 3.64vh;
    }

    .left {
        width: 100vw;
        height: 50vh;
        top: 0;
    }

    .right {
        width: 100vw;
        top: 50vh;
    }

    .face-img {
        display: none;
    }

    .left .bg-image {
        top: 50%;
    }

    .right .bg-image {
        top: 25vh;
    }
        
    iframe.ytb {
        height: 50vw;
    }
}

.left::-webkit-scrollbar {  /* Make scroll bar invisible */
    display: none;
}

.right h1 {
    font-size: calc(2vw + 5px);
}

/* Header (left panel) */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6.25vw;
    opacity: 0;
    transition: opacity 0.5s;
}

header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .nav-link { /* About and contact links */
    font-size: calc(0.75vw + 5px);
    color: #464646;
    cursor: pointer;
}

header .nav-link:not(:last-child) {
    margin-right: 2.08vw;
}

header .nav-link:hover {
    text-decoration: underline;
}

header .nav-link.active {
    text-decoration: underline;
}

header .cv-button a { /* CV download button */
    display: flex;
    align-items: center;
    color: #464646;
    text-decoration: none;
}

header .cv-button a span {
    margin-right: 0.4vw;
}

header .cv-button img {
    height: calc(0.95vw + 5px);
    opacity: 0.6;
}

header .cv-button a:hover {
    text-decoration: underline;
}

header .cv-button a:hover img {
    opacity: 1;
}

/* Content (texts on left panel) */
.content {
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s;
}

.content h2 {
    margin-bottom: 0.8vw;
}

.content img {
    width: 100%;
    margin-bottom: 2.6vw;
}

.content a {
    display: inline-block;
    margin-bottom: 1.04vw;
}

.content p a {
    margin-bottom: 0 !important;
}

.content p.quote {
    font-size: calc(1.3vw + 5px);
    text-align: center;
    color: #5e5e5e;
}

.content .details {
    margin-top: 1.2vw;
    margin-bottom: 4.3vw;
}

.content ul {/* Lists in projects descirption */
    list-style: inside;
    font-size: calc(0.8vw + 5px); /* 20px at width 1920px*/
    text-align: justify;
    margin-bottom: 2.6vw;
}

.content ul li {
    margin-bottom: 1.3vw;
}

/* Projects list */
.projects {
    width: 100%;
}

.project {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    padding: 4.4vh;

    background-size: 100% auto;
    background-color: #ffffff;
    background-blend-mode: multiply;
    background-position: center;

    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: background-size 0.5s, background-color 0.5s, transform 0.5s, opacity 0.5s;
}

.project:not(:last-child) {
    margin-bottom: 3.7vw;
}

.project div { /* Contains title (and more in the futur?) */
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;
}

.project h1 {
    display: block;
    margin: auto 0 auto 2.6vw;
    pointer-events: none;
    transition: margin 0.5s;
}

.project:hover h1 {
    margin-left: 0;
}

/* Projects interaction effects */
.project:hover, .project.active {
    background-color: rgba(0, 0, 0, 0.5);
    background-size: 115% auto;

}

.project:hover div, .project.active div {
    opacity: 1;
}

.project:active {
    background-color: rgba(0, 0, 0, 1);
}

.project.active h1 {
    margin-left: 0;
}

.project.active {
    background-color: rgba(0, 0, 0, 0.8);
    transform: scale(1);
}
