/***************VARIABLES******************/

$black: #352D39;
$white: #FFFCF9;
$darkGrey: #625966;
$lightGrey: #edecee;
$transparent: #bab2be88;
$main: #FF2E2E;

// Cover letter :
// Parler de soi, pourquoi l'entreprise / ce poste nous correspond
// Ne pas parler de ses compétences, le CV est fait pour ca
// Parler du bénévolat ! Par exemple l'organisation d'un meeting pour Cybernetic
// Contacter le RH mais aussi le CEO
// Adapter le cover letter aux demandes de l'annonce
// Montrer que on aime le studio, ses produits

/***************COMPONENTS******************/

@import 'fonts';

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
        transform: rotate(360deg);
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: $white;
    background-color: $white;
}

h1 {
    font-family: 'Poppins';
    font-size: 72px;
    line-height: 80px;
    color: $black;
}

h2 {
    font-family: 'Poppins';
    font-size: 46px;
    color: $black;
}

h3 {
    font-family: 'Poppins';
    font-size: 36px;
    color: $black;
}

p {
    font-family: 'Poppins';
    font-size: 20px;
    color: $black;

    .desc {
        color: $darkGrey;
    }
}

.flex {
    display: flex;

    &.center {
        align-items: center;
    }

    &.space-between {
        justify-content: space-between;
    }

    &.space-around {
        justify-content: space-around;
    }
}

/***************COMMON******************/

.landing {
    width: 100%;
    transition: opacity 0.2s;

    h1 {
        margin-bottom: 18vh;
    }
}

.cta {
    position: relative;
    display: block;
    width: 14%;
    margin-top: 2vh;
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: opacity 0.3s;

    &.unactive {
        opacity: 0;
        pointer-events: none;
    }

    .arrow {
        position: absolute;
        width: 35%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        pointer-events: none;
    }

    .bg {
        width: 100%;
        height: 100%;
        margin-top: 10px;
        pointer-events: none;

        animation: 3s linear 0s infinite rotate;
        animation-play-state: paused;
    }

    &:hover .bg {
        animation-play-state: running;
    }
}

.close {
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 1000px;
    background-color: $black;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 55%;
        pointer-events: none;
    }
}

.left, .right, html {
    scrollbar-width: none;

}

.article {
    .article-content {
        font-family: 'Poppins';

        .article-properties {
            padding: 20px;
            margin-bottom: 8vh;
            border-radius: 10px;
            background-color: $lightGrey;

            ul {
                list-style: none;
            }

            p:not(.title), li {
                color: $darkGrey;
                font-size: 18px;
            }

            p {
                margin: 0;
            }

            p:not(.title):not(:last-child), ul:not(:last-child) {
                margin-bottom: 25px;
            }

            p.title {
                font-weight: bold;
            }

            .article-prop-col {
                min-width: 45%;
            }
        }

        a {
            color: $main;
        }

        p {
            margin-bottom: 3vh;
        }

        h3 {
            margin-top: 8vh;
            margin-bottom: 1vh;
        }

        img {
            width: 100%;
            margin-bottom: 3vh;
        }

        a.no-margin, p.no-margin, h3.no-margin, img.no-margin, iframe.no-margin {
            margin: 0 !important;
        }
        
    }
}

.project-link {
    width: 100%;
    height: 100%;
    color: $white;
    text-decoration: none;
    cursor: pointer;

    .project-content {
        width: 100%;
        height: 100%;
        padding: 30px;
        transition: background-color 0.4s;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 10px;

        .project-title {
            color: $white;
            pointer-events: none;

            &::selection {
                background-color: transparent;
                color: $white;
            }
        }

        .project-tags {
            color: $lightGrey !important;
            pointer-events: none;

            
            &::selection {
                background-color: transparent;
                color: $lightGrey;
            }
        }
    }
    
}

/***************PORTRAIT******************/
 
@media (orientation: portrait) {
    body {
        margin: 60px 50px;

        @media (max-aspect-ratio: 3 / 4) {
            margin: 50px 10px;
        }
    }

    .close {
        position: fixed;
        top: 7vh;
        right: 5vw;
        z-index: 20000;
    }

    .left {
        position: static;
        width: 100%;

        .landing {
            .title {
                font-size: 48px;
                line-height: 55px;
            }
        }

        .article {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 10000;
            display: none;
            opacity: 0;
            width: 100vw;
            height: 100vh;
            overflow-y: scroll;
            scrollbar-width: none;
            background-color: $white;
            padding: 60px;

            @media (max-aspect-ratio: 3 / 4) {
                padding: 40px 10px;

                .article-properties-container {
                    display: block !important;

                    .title:first-child {
                        margin-top: 25px;
                    }
                }
            }

            .article-content {
                iframe {
                    width: 100%;
                    margin-bottom: 3vh;
                }
            }
        }
    }

    .right {
        .landing {
            .profile-img {
                display: none;
            }
        }

        .projects {
            margin-top: 100px;

            .title {
                padding-top: 20px;
                margin-bottom: 20px;
            }

            .projects-list {
                list-style-type: none;

                .project {
                    border-radius: 10px;

                    .project-link {
                        width: 100%;
                        height: 100%;
                        color: $white;
                        text-decoration: none;
                        cursor: pointer;

                        .project-content {
                            width: 100%;
                            height: 100%;
                            padding: 30px;
                            transition: background-color 0.4s;
                            background-color: rgba(0, 0, 0, 0.4);
                            border-radius: 10px;

                            .project-title {
                                color: $white;
                                pointer-events: none;

                                &::selection {
                                    background-color: transparent;
                                    color: $white;
                                }
                            }
            
                            .project-tags {
                                color: $lightGrey !important;
                                pointer-events: none;

                                
                                &::selection {
                                    background-color: transparent;
                                    color: $lightGrey;
                                }
                            }
                        }
                        
                    }

                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }
                }
            }

        }
    }

    .cta {
        width: 80px;
    }
}

/***************LANDSCAPE******************/

@media (orientation: landscape) {

    // Left
    .left {
        position: fixed;
        top: 0;
        left: 0;
        width: 50vw;
        max-height: 100vh;
        overflow: scroll;
        background-color: $white;

        .landing {
            height: calc(100vh - 140px);
            margin-top: 140px;
            padding: 0px 100px;
        }

        ::selection {
            background-color: $main;
            color: $white;
        }    

        .article {
            font-family: "Poppins";
            margin-top: 140px;
            padding: 0px 80px;
            display: none;
            opacity: 0;
            transition: opacity 0.2s;

            .article-properties {
                iframe {
                    width: 100%;
                    margin-bottom: 3vh;
                }
        
                #ytb {
                    height: calc((38.75vw - 160px) * 0.78);
                }
            }
            
            .header {
                margin-bottom: 6vh;
            }

            
        }
    }

    // Right
    .right {
        position: absolute;
        top: 0;
        right: 0;
        width: calc(50vw - (100vw - 100%));
        max-height: 100vh;
        overflow-y: auto;
        scrollbar-width: none;
        
        ::selection {
            background-color: $white;
            color: $black;
        }

        .landing {
            position: relative;
            width: 100%;
            height: 100vh;
            background-color: $white;

            img {
                display: block;
                height: 60%;
                position: absolute;
                top: 140px;
                left: 50%;
                transform: translate(-50%, 0%);
                border-radius: 12px;
            }
        }

        .projects {
            width: 100%;
            min-height: 100vh;
            padding: 100px 80px;
            background-color: $main;
            border-radius: 10px 0 0 0;

            .title {
                color: $white;
                margin-bottom: 50px;
            }

            ul {
                list-style: none;
            }

            .projects-list {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(4, calc(50vw * 0.32));
                grid-gap: 15px;

                .project {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    overflow: hidden;
                    background-size: cover;

                    // project link

                    &:hover .project-content {
                        background-color: rgba(0, 0, 0, 0.6);
                    }

                    &.main, &.one {
                        grid-column: 1 / 3;
                        grid-row: 1 / 3;
                    }

                    &.two {
                        grid-column: 1 / 2;
                        grid-row: 3 / 4;
                    }

                    &.three {
                        grid-column: 2 / 3;
                        grid-row: 3 / 4;
                    }

                    &.four {
                        grid-column: 1 / 2;
                        grid-row: 4 / 5;
                    }

                    &.five {
                        grid-column: 2 / 3;
                        grid-row: 4 / 5;
                    }
                
                }
            }

        }

    }


}