<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Site.Title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <!-- <h1>{{ .Site.Title }}</h1>

    {{ range (where .Site.Pages "Type" "Project") }}
        <h2>{{ .Title }}</h2>
        <h4>Taille de l'équipe : {{ .Params.TeamSize }}</h4>
        <h4>Rôles</h4>
        {{ range .Params.Positions }}
            <p>{{ . }}</p>
        {{end }}
        <h4>Outils</h4>
        {{ range .Params.Tools }}
            <p>{{ . }}</p>
        {{end }}
        <h4>Durée</h4>
        {{ $delta := (time .Params.EndDate).Sub (time .Params.StartDate) }}
        <p>{{ div $delta.Hours 24 }}</p>
    {{ end }} -->
    
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Programmation 3D</h1>
                <p>BLABLA BLA</p>
            </div>
            <div class="col">
                <p>col2</p>
            </div>
        </div>
    </div>
</body>
</html>