@import "../variables";

body {
    background-color: $white;
}

header {
    width: 100%;
    padding: 80px 25vw;

    @media (min-width: 515px) {
        background-image: url("../assets/images/banner.png");
        background-size: 100% auto;
        background-position: 50% 50%;

        h2, p {
            background-color: $black;
            border-radius: $border-radius;
            color: $white;
            padding: 0px 20px;
        }
    
        p {
            margin-top: 15px;
            padding: 10px 20px;
        }
    }

    h2, p {
        display: inline-block;
    }

    @media (max-width: 650px) {
        padding: 80px 5vw;
        background-size: auto 100%;
    }

    @media (max-width: 515px) {
        background-image: none;
        background-color: $main;

        ::selection {
            background-color: $black;
            color: $white;
        }

        .flex{
            display: block;

            img {
                width: 100%;
                margin: 0;
                height: auto;
            }

            h2, p {
                color: $white;
            }
        }
    }

    img {
        height: 180px;
        border-radius: $border-radius;
        margin-right: 50px;
    }
}

a {
    font: "Poppins", sans-serif;
    text-decoration: none;
}

.links-container
{
    display: block;
    width: 100%;
    height: 100%;
    padding: 60px 25vw;

    @media (max-width: 650px) {
        padding: 60px 5vw;
    }

    ul {
        li {
            display: inline-block;
            background-color: $black;
            border-radius: $border-radius;
            margin-right: 10px;
            margin-bottom: 10px;

            @media (max-width: 515px) {
                display: block;
            }

            svg {
                width: 45px;
                height: 45px;
                margin-right: 15px;
            }

            a{
                padding: 15px;
            }

            p {
                color: $white;
                margin-right: 5px;
            }

            &:hover {
                background-color: black;
            }
        }
    }
}